<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_ground_grass@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,162},{1000,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,69}}</string>
                <key>sourceSize</key>
                <string>{1000,69}</string>
            </dict>
            <key>game_ground_space@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,195}}</string>
                <key>sourceSize</key>
                <string>{1000,195}</string>
            </dict>
            <key>game_ground_svalka@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1000,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,158}}</string>
                <key>sourceSize</key>
                <string>{1000,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{2006,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d84211ad0a6c62ac3e1c7547c2ae318:80f8664084ced520c1dbd0a7ea407f2d:04d5813c1013d9c54e1039dcb428156a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
