<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_menu_btn_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,208},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_fb@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_info@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{204,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,102}}</string>
                <key>sourceSize</key>
                <string>{204,102}</string>
            </dict>
            <key>main_menu_btn_language@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,340},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_language_flag_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,350}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>main_menu_btn_mfx@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>main_menu_btn_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,208},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_sfx@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>main_menu_btn_tw@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,340},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>robo_menu_btn_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,208},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>robo_menu_coin_bar@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,134},{210,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,59}}</string>
                <key>sourceSize</key>
                <string>{210,59}</string>
            </dict>
            <key>robo_menu_coin_btn_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,134},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>robo_menu_coin_ico_gold@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,340},{142,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,83}}</string>
                <key>sourceSize</key>
                <string>{142,83}</string>
            </dict>
            <key>robo_menu_coin_ico_iron@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,340},{142,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,83}}</string>
                <key>sourceSize</key>
                <string>{142,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
            <key>size</key>
            <string>{1020,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddd10a4eb1c2c323e690babe64c364bd:af356b4ff7b8f191ddc5c6a9cf85cb7c:f09fb1211140a49faf8860e629fa2051$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
