<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_menu_bg_deco3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,770},{720,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,334}}</string>
                <key>sourceSize</key>
                <string>{720,334}</string>
            </dict>
            <key>lang_menu_bg_deco4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,1152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1152}}</string>
                <key>sourceSize</key>
                <string>{721,1152}</string>
            </dict>
            <key>main_menu_bg_deco1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{722,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,654}}</string>
                <key>sourceSize</key>
                <string>{722,654}</string>
            </dict>
            <key>main_menu_btn_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1106},{560,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,280}}</string>
                <key>sourceSize</key>
                <string>{560,280}</string>
            </dict>
            <key>main_menu_deco2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{720,766}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,766}}</string>
                <key>sourceSize</key>
                <string>{720,766}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
            <key>size</key>
            <string>{1447,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9dd2c5ef8b85c3cd21bf3efe5b568e:840e60f9dae773ba0b6a81eae7ca984f:1622b2e3d2e266e16f21959f6ae95504$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
