<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robo_menu_buy_gold_btn1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_buy_gold_btn2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_buy_gold_btn3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_buy_gold_btn4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_convert_btn1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_convert_btn2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_convert_btn3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_convert_btn4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{137,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,404}}</string>
                <key>sourceSize</key>
                <string>{137,404}</string>
            </dict>
            <key>robo_menu_convert_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{473,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,340}}</string>
                <key>sourceSize</key>
                <string>{473,340}</string>
            </dict>
            <key>robo_menu_convert_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,497},{566,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,55}}</string>
                <key>sourceSize</key>
                <string>{566,55}</string>
            </dict>
            <key>robo_menu_gold_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,408},{445,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,352}}</string>
                <key>sourceSize</key>
                <string>{445,352}</string>
            </dict>
            <key>robo_menu_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,408}}</string>
                <key>sourceSize</key>
                <string>{632,408}</string>
            </dict>
            <key>robo_menu_popup_btn_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,408},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>robo_menu_stat_popup_bg_robo_name@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,412},{318,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,83}}</string>
                <key>sourceSize</key>
                <string>{318,83}</string>
            </dict>
            <key>robo_menu_stat_popup_btn_upgrade@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,558},{147,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,130}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>robo_menu_stat_popup_ico_count@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,690},{330,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,66}}</string>
                <key>sourceSize</key>
                <string>{330,66}</string>
            </dict>
            <key>robo_menu_stat_popup_ico_stats@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,412},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
            <key>size</key>
            <string>{1748,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1521848a5da825e6eaa6e2aaa375e5ee:828ab9bcd845f7875b1c88f22d581b9a:f33f7d177fc4a61253b8dfcbf542a179$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
