<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_menu_bg_deco3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,794},{1000,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,334}}</string>
                <key>sourceSize</key>
                <string>{1000,334}</string>
            </dict>
            <key>lang_menu_bg_deco4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1222}}</string>
                <key>sourceSize</key>
                <string>{1000,1222}</string>
            </dict>
            <key>main_menu_bg_deco1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1000,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,790}}</string>
                <key>sourceSize</key>
                <string>{1000,790}</string>
            </dict>
            <key>main_menu_btn_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1317},{560,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,280}}</string>
                <key>sourceSize</key>
                <string>{560,280}</string>
            </dict>
            <key>robo_menu_machine@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{720,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,570}}</string>
                <key>sourceSize</key>
                <string>{720,570}</string>
            </dict>
            <key>robo_menu_machine_platform@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1130},{678,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,185}}</string>
                <key>sourceSize</key>
                <string>{678,185}</string>
            </dict>
            <key>robo_menu_machine_platform_char_shadow@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1599},{390,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,172}}</string>
                <key>sourceSize</key>
                <string>{390,172}</string>
            </dict>
            <key>robo_test@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1226},{408,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,568}}</string>
                <key>sourceSize</key>
                <string>{408,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
            <key>size</key>
            <string>{2006,1798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d928488f5685accbbb3b6e42bb68be6:d5b3beff54377711b8b12d3751e8b029:1622b2e3d2e266e16f21959f6ae95504$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
