<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>start_preloader_name@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,388}}</string>
                <key>sourceSize</key>
                <string>{424,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas5.pvr.ccz</string>
            <key>size</key>
            <string>{775,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff5baf63ed4ee8b2b0a39a49d9bf527e:0cf4cf15e2ba9b01815122168d856a36:a690933c470b7cfccf0ecf314b3c7631$</string>
            <key>textureFileName</key>
            <string>TextureAtlas5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
