<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang_menu_flag_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>lang_menu_flag_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,930}}</string>
                <key>sourceSize</key>
                <string>{546,930}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
            <key>size</key>
            <string>{550,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeed95570754afb4924832e264984c70:5cab6fe0d9968d56e61ab043e198d4dd:0311bb16bc6349ec94201f930c4694e7$</string>
            <key>textureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
