<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_action_fall_parts_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>game_action_ico_wh@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,400}}</string>
                <key>sourceSize</key>
                <string>{160,400}</string>
            </dict>
            <key>game_action_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{550,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,220}}</string>
                <key>sourceSize</key>
                <string>{550,220}</string>
            </dict>
            <key>game_cloud@2x-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,326},{185,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,46}}</string>
                <key>sourceSize</key>
                <string>{185,46}</string>
            </dict>
            <key>game_ground_rocks@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,224},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>game_ground_skelet1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,326},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>game_ground_skelet2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
            <key>size</key>
            <string>{716,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dc9845e6f95fc0ab023d69c117e8241:d78b30f1dc5f861bd5210fc9746e8d59:531987a27706583638f2791923d4b87f$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
