<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_menu_btn_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,354},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_fb@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,358},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_info@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,134},{204,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,102}}</string>
                <key>sourceSize</key>
                <string>{204,102}</string>
            </dict>
            <key>main_menu_btn_language@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,358},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_language_flag_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{200,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,350}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>main_menu_btn_mfx@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,148},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>main_menu_btn_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>main_menu_btn_sfx@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,148},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>main_menu_btn_tw@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,365},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>robo_menu_btn_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{260,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,130}}</string>
                <key>sourceSize</key>
                <string>{260,130}</string>
            </dict>
            <key>robo_menu_coin_bar@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,354},{210,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,59}}</string>
                <key>sourceSize</key>
                <string>{210,59}</string>
            </dict>
            <key>robo_menu_coin_btn_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,415},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>robo_menu_coin_ico_gold@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,323},{142,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,83}}</string>
                <key>sourceSize</key>
                <string>{142,83}</string>
            </dict>
            <key>robo_menu_coin_ico_iron@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,238},{142,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,83}}</string>
                <key>sourceSize</key>
                <string>{142,83}</string>
            </dict>
            <key>robo_menu_machine_btn_list_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{450,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,354}}</string>
                <key>sourceSize</key>
                <string>{450,354}</string>
            </dict>
            <key>robo_menu_machine_platform_btn_select@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{302,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,144}}</string>
                <key>sourceSize</key>
                <string>{302,144}</string>
            </dict>
            <key>robo_menu_unlock_dialog_cloud@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,361}}</string>
                <key>sourceSize</key>
                <string>{486,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
            <key>size</key>
            <string>{1762,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fea1ac85548f52ca7d3d76690ddae0e:caa0b7d1819bc437ee8a0981682dbb51:f09fb1211140a49faf8860e629fa2051$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
